<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>BEViS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel='stylesheet' href='shower/themes/ribbon/styles/screen.css'>
    <link rel='stylesheet' href='index.css'>
</head>
<body class="list">
<header class="caption">
    <h1>BEViS</h1>
    <p>Марат Дулин, Вадим Макишвили</p>
    <p>CodeFest 2014</p>
</header>
<section class='slide cover' id='Cover'>
    <div class='slidein'>
        <div class='title'>
            <div class="name">BEViS</div>
            <br>
            <div class="slogan">& bt</div>
        </div>
        <p class="note"></p>

        <div class="we next">
            <img src="pictures/people/folks.png" class="folks"/>
        </div>
    </div>
</section>

<section class='slide'>
    <div class='slidein'>
        <h2>Smarty, Django и т.п.</h2>
        <div class="schema">
            <img src="pictures/people/beavis.jpg" class="user"/>
            <img class="get" src="pictures/arr/line-up.png">
            <img class="set" src="pictures/arr/line-down.png">

            <div class="server">
                <h3 class="name">HTTP Server</h3>

                <div class="fs controller">контроллер</div>
                <div class="fs view">шаблоны представления</div>
                <div class="fs html">HTML</div>

                <div class="db">
                    <img src="pictures/arr/right-php.png" class="r">
                    <img src="pictures/arr/left-php.png"  class="l">
                </div>

                <img src="pictures/arr/next.png" class="down1">
                <img src="pictures/arr/next.png" class="down2">
            </div>
        </div>
    </div>
</section>

<!--
<section class='slide'>
    <div class='slidein'>
        <h2>Императивные шаблоны</h2>

        <pre class="small">
            <code>&lt;p&gt;Уважаемый <mark>{{ person }}</mark>&lt;/p&gt;</code>
            <code>&lt;p&gt;Ваш заказ от <mark>{{ date:"F j, Y" }}</mark> принят на обработку.&lt;/p&gt;</code>
            <code>&lt;p&gt;Пожалуйста, убедитесь, что всё выбрано верно:&lt;/p&gt;
            </code>

            <code>&lt;ul&gt;</code>
            <code><mark class="one">{% for item in item_list %}</mark></code>
            <code>    &lt;li&gt;<mark>{{ item }}</mark>&lt;/li&gt;</code>
            <code><mark class="one">{% endfor %}</mark></code>
            <code>&lt;/ul&gt;
            </code>

            <code><mark class="one">{% if ordered_warranty %}</mark></code>
            <code>    &lt;p&gt;Гарантия - 12 месяцев.&lt;/p&gt;</code>
            <code><mark class="one">{% else %}</mark></code>
            <code>    &lt;p&gt;Со всеми неполадками обращайтесь в наш сервиcный центр.&lt;/p&gt;</code>
            <code><mark class="one">{% endif %}</mark></code>
        </pre>
    </div>
</section>

<section class='slide'>
    <div class='slidein'>
        <div class="schema">
            <img src="pictures/people/beavis.jpg" class="user"/>
            <img class="get" src="pictures/arr/line-up.png">
            <img class="set" src="pictures/arr/line-down.png">

            <div class="server">
                <h3 class="name">HTTP Server</h3>

                <div class="fs controller">контроллер</div>
                <div class="fs view"><mark>декларативные</mark> шаблоны</div>
                <div class="fs html">HTML</div>

                <div class="db">
                    <img src="pictures/arr/right-php.png" class="r">
                    <img src="pictures/arr/left-php.png"  class="l">
                </div>

                <img src="pictures/arr/next.png" class="down1">
                <img src="pictures/arr/next.png" class="down2">

            </div>
        </div>
    </div>
</section>
-->

<section class='slide'>
    <div class='slidein'>
        <h2>BEViS</h2>
        <div class="schema">
            <img src="pictures/people/beavis.jpg" class="user"/>
            <img class="get" src="pictures/arr/line-up.png">
            <img class="set" src="pictures/arr/line-down.png">

            <div class="server nodejs">
                <div class="logo"><img src="pictures/server/nodejs.png"></div>

                <div class="fs controller">index.<mark>page</mark>.js</div>
                <div class="fs view">index.<mark>bt</mark>.js</div>
                <div class="fs html">HTML</div>

                <div class="db">
                    <img src="pictures/arr/right-php.png" class="r">
                    <img src="pictures/arr/left-php.png"  class="l">
                </div>

                <img src="pictures/arr/next.png" class="down1">
                <img src="pictures/arr/next.png" class="down2">

            </div>
        </div>
    </div>
</section>

<!--
<section class='slide'>
    <div class='slidein'>
        <h2>BEViS</h2>
        <div class="schema">
            <img src="pictures/people/beavis.jpg" class="user"/>
            <img class="get" src="pictures/arr/line-up.png">
            <img class="set" src="pictures/arr/line-down.png">

            <div class="server nodejs">
                <div class="logo"><img src="pictures/server/nodejs.png"></div>

                <div class="fs controller">index.<mark>page</mark>.js</div>
                <div class="fs data">index.<mark>btjson</mark>.js</div>
                <div class="fs" style="top: 145px;">+</div>
                <div class="fs view">index.<mark>bt</mark>.js</div>
                <div class="fs html">HTML</div>

                <div class="db">
                    <img src="pictures/arr/right-php.png" class="r">
                    <img src="pictures/arr/left-php.png"  class="l" style="top: 68px">
                </div>

                <img src="pictures/arr/next.png" class="down2">
            </div>
        </div>
    </div>
</section>
-->

<!--
    To hide progress bar from entire presentation
    just remove “progress” element.
    -->
<div class="progress"><div></div></div>
<script src="shower/shower.min.js"></script>

<!-- http://www.freelogovectors.net/face-avatars-icons-300x300-png-files/ -->
</body>
</html>
