/*
    Москва, БЦ Мамонтов, Лекторий.
    Проектор:
    - Color Mode: sRGB
    - Brightness: 0
    - Contrast: -15
    - Sharpness: 3
*/

/* Для неярких экранов */
/*
section:not(.slide-iframe)::before
{
    content: '';
    position : absolute;
    width: 100%;
    height: 100%;

    font-size:  300%;
    background: #000;
    z-index: 99999;
    
    opacity:  0.2;
}
*/

.slide .slidein
{
    padding: 0;
    width: 100%;
    height: 100%;

    background: #fff;
}

.list .slidein:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: ''
}

.slide h2 {
    margin: 37px;
}

/* ========================== */

#Cover .slidein {
    /*background: #004c98;*/
}

#Cover .title {
    font-family: 'PT Sans Narrow';
    font-weight: bold;

    line-height:  1.5em;

    text-align: left;

    position: absolute;
    top: 10%;
    left: 10%;

    color: #666;
}

#Cover .title .name {
    font-size: 140px;
}

#Cover .title .slogan {
    font-size: 40px;
}

#Cover .we {
    position: absolute;
    bottom: 0;
    right: 20px;
}

#Cover .we img {
    position: relative;
    z-index: auto;

    width: 250px;
}

.schema {
    position: absolute;
    top: 0;
    left: 37px;

    width: 100%;
    height: 100%;
}

.schema .user {
    position: absolute;
    left: 26px;
    top: 290px;

    width: 100px;
}

.server {
    position: absolute;
    left: 300px;
    top: 150px;

    width: 250px;
    height: 400px;

    border: 1px solid green;
    border-radius: 6px;
}

.server .logo {
    position: absolute;
    left: 0;
    bottom: 100%;

    width: 100%;
}

.server .name{
    position: absolute;
    left: 0;
    bottom: 100%;

    font-size: 80%;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.server .logo img{
    position: absolute;
    bottom: 100%;
    left: 0;
}

.server.nodejs .logo img{
    width: 120px;
}

.schema .get {
    position: absolute;
    left: 80px;
    top: 24%;
}

.schema .set {
    position: absolute;
    left: 80px;
    top: 67%;
}

.schema .fs {
    font-family: Monaco, "PT Mono", monospace;
    font-size: 16px;
    font-style: normal;

    display: inline-block;

    position: absolute;
    left: 0;

    width: 100%;
    text-align: center;
    color: #000;
}

.schema .fs.controller {
    top: 30px;
}

.schema .fs.data {
    top: 105px;
}

.schema .fs.view {
    top: 180px;
}

.schema .fs.html {
    bottom: 30px;
}


.schema .fs mark {
    display: inline-block;

    padding: 0 3px;
    border-radius: 8px;
    background: #F7FCA0;
}


.server .db {
    position: absolute;
    right: -140px;
    top: 30px;

    width: 105px;
    height: 105px;

    background: url(pictures/db.svg);
    background-size: cover;
}

.server .db .r,
.server .db .l {
    position: absolute;
    right: 100%;
}

.server .db .r {
    top: -10px;
}

.server .db .l {
    top: 14px;
}

.server .down1,
.server .down2 {
    position: absolute;
    left: 50%;

    margin-left: -26px;
}

.server .down1 {
    bottom: 260px;
}

.server .down2 {
    bottom: 90px;
}

.slide pre
{
    margin-left: 77px;
}

pre.small code
{
    font-size:  60%;
    line-height:  30px !important;
}

pre.small-medium code
{
    font-size:  80%;
    line-height:  40px !important;
}

pre.medium code
{
    font-size:  100%;
    line-height:  40px !important;
}

pre.biggest code
{
    font-size:  350%;
    line-height:  40px !important;
}

mark
{
    padding: 3px 8px;
    border-radius: 8px;
    background: #F7FCA0;
    color: #000;
    font-style: normal
}

mark.important {
    background: #C00 !important;
    color: #FFF;
    font-weight: 400
}

mark.comment {
    padding: 0;
    background: 0 0;
    color: #999
}

mark.one
{
    background: #8dfca2 !important;
}

mark.two
{
    background: #fcab5f !important;
}
