/*
    Москва, БЦ Мамонтов, Лекторий.
    Проектор:
    - Color Mode: sRGB
    - Brightness: 0
    - Contrast: -15
    - Sharpness: 3
*/

/* Для неярких экранов */
/*
section:not(.slide-iframe)::before
{
    content: '';
    position : absolute;
    width: 100%;
    height: 100%;

    font-size:  300%;
    background: #000;
    z-index: 99999;
    
    opacity:  0.2;
}
*/

.slide .slidein
{
    padding: 0;
    width: 100%;
    height: 100%;

    background: #fff;
}

.list .slidein:before
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: ''
}

.slide h2 {
    margin: 37px;
}

/* ========================== */

#Cover .title {
    font-family: 'PT Sans Narrow';
    font-size: 140px;
    font-weight: bold;

    line-height:  1.5em;

    text-align: left;

    position: absolute;
    top: 10%;
    left: 10%;

    color: #666;
}

#Cover .we {
    position: absolute;
    bottom: 0;
    right: 20px;
}

#Cover .we img {
    position: relative;
    z-index: auto;

    width: 70px;
    height: 70px;
}

.schema {
    position: absolute;
    top: 0;
    left: 37px;

    width: 100%;
    height: 100%;
}

.schema .marat {
    position: absolute;
    left: 0;
    top: 47%;

    width: 100px;
}

.server {
    position: absolute;
    left: 300px;
    top: 150px;

    width: 200px;
    height: 400px;

    border: 3px solid green;
    border-radius: 6px;
}

.server .logo {
    position: absolute;
    left: 0;
    bottom: 100%;

    width: 100%;
}

.server.apache .name{
    position: absolute;
    right: 0;
    bottom: 100%;

    font-size: 80%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.server .logo img{
    position: absolute;
    bottom: 100%;
    right: 0;
}

.server.apache .logo img{
    right: 10px;

    margin-left: 30px;
    margin-bottom: 20px;
    width: 150px;

    -webkit-transform: rotate(145deg);
    -moz-transform:  rotate(145deg);
    transform: rotate(145deg);
}

.server.nginx .logo img{
    width: 100px;
    margin-bottom: 11px;
}

.server.nodejs .logo img{
    width: 120px;
}

.schema .arrow1 {
    position: absolute;
    left: 100px;
    top: 26%;
}

.schema .arrow2 {
    position: absolute;
    left: 100px;
    top: 58%;
}

.schema .request {
    position: absolute;
    left: 140px;
    top: 34%;

    -webkit-transform: rotate(-40deg);
    -moz-transform:  rotate(-40deg);
    transform: rotate(-40deg);
}

.schema .response {
    position: absolute;
    left: 150px;
    top: 70%;

    -webkit-transform: rotate(43deg);
    -moz-transform:  rotate(43deg);
    transform: rotate(43deg);
}

.schema .fs {
    font-family: Monaco, "PT Mono", monospace;
    font-size: 16px;

    display: inline-block;

    padding: 3px 8px;
    border-radius: 8px;
    background: #F7FCA0;
    color: #000;
    font-style: normal
}

fs.one {
    background: #8dfca2;
}

fs.two {
    background: #fcab5f;
}
